*{
    text-align: center;
}

header{
    font-size: 200%;
    font-style: bold;
}

p{
margin:20px;
}


.card{
    margin: 3% auto;
    border: 2px solid black;
    height: 400px;
    width: 600px;
}

.flex{
    display: flex;
    flex-direction: column;
}

.choice{
    text-align: left;
}

.score{
    box-sizing: border-box;
    width:100%;
    height:100px;
    position: fixed;
    bottom: 0px;
    border: 2px solid black;
    background-color: antiquewhite;
}

#q1, #q2, #q3, #q4, #q5{
        display: none;
/* display:inherit; */
}

@media screen and (max-width:768px) {

    .card{
        width:80%;
    }
    
}